.wrapper {
    background-color: gray;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: flex-start;
    overflow: auto;
}