.card{
    height: 400px;
    position: relative;
    width: 325px;
    margin-bottom: 5px;
}

.card > .img-container {
    height: 100%;
    overflow: hidden;
}

.card > .img-container> img {
    width: 100%;
}

.card > content {
    padding-left: 1 rem;
    padding-right: 1 rem;
}